body {
    font-family: sans-serif;
    direction: rtl;
    background-color: rgba(39, 35, 35, 0.9098039215686274);
}

div#all {


}

div#TheOutput {
    text-align: center;
    display: none
}

textarea {
    width: 823px;
    height: 113px;
}

div label input {

    width: 20%;
    text-align: center;
}


.Shela {

    color: white;
    display: none;
    position: relative;
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    height: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color: rgba(0, 0, 0, 0.4588235294117647);


}

.textShela {

    text-align: center;
}

#melo {

    /*float:right;*/

}

#skip {
    margin-top: 2px;
}

#shol {
    /*float:left;*/
}

.btncheck {
    display: inline;
    /*margin-top:4.54%;*/
    margin-left: 4px;
    margin-right: 4px;
    color: white;
    background: #2eabb3;
    border-color: #20797e #1f757a #195d62;
    background-image: -webkit-linear-gradient(top, #3dbdcd 0%, #33b2c7 50%, #2eabb3 50%, #1e9a99 100%);
    background-image: -moz-linear-gradient(top, #3dbdcd 0%, #33b2c7 50%, #2eabb3 50%, #1e9a99 100%);
    background-image: -o-linear-gradient(top, #3dbdcd 0%, #33b2c7 50%, #2eabb3 50%, #1e9a99 100%);
    background-image: linear-gradient(to bottom, #3dbdcd 0%, #33b2c7 50%, #2eabb3 50%, #1e9a99 100%);
}

.btncheck:before {
    background: #3fccd5;
    background-image: -webkit-linear-gradient(top, #249299, #4dd3dc);
    background-image: -moz-linear-gradient(top, #249299, #4dd3dc);
    background-image: -o-linear-gradient(top, #249299, #4dd3dc);
    background-image: linear-gradient(to bottom, #249299, #4dd3dc);
}

.btncheck:active {
    background: #33b9c7;
    background-image: -webkit-linear-gradient(top, #1d918f 0%, #31b2bf 60%, #33b9c7 100%);
    background-image: -moz-linear-gradient(top, #1d918f 0%, #31b2bf 60%, #33b9c7 100%);
    background-image: -o-linear-gradient(top, #1d918f 0%, #31b2bf 60%, #33b9c7 100%);
    background-image: linear-gradient(to bottom, #1d918f 0%, #31b2bf 60%, #33b9c7 100%);
}

.btncheck:active:after {
    border-color: #33b9c7;
}

