complains {
    display: flex;
    flex-direction: column;
}

.complain-title {
    padding: 10px;

}

.complains-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.complains-list > .complain-item{
    padding: 10px;
    transition: .3s;
    cursor: pointer;
}

.complains-list > .complain-item:hover {
    background: #f5f5f5;
}
